<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cardPp</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="cardPp"> 

    <div class="cardContainerFront">

      <div class="background">

        <div class="imageUrl">
          <img  class="border" src="https://thronesapi.com/assets/images/robert-baratheon.jpeg" alt="Fondo Tarjeta">
            </img>
          </figure>
        </div>
  
        <div class="dataCharacter">
          <h2 class="firstName">Daenerys</h2>
          <h3 class="lastName">Targaryen</h3>
          <h4 class="family">House Targaryen</h4>
          <div class="otherInfo">
            <h5 class="title">Mother of Dragons</h5>
            <h5 class="born">Born in 284 DC</h5>
          </div>
        </div>

        <figure>
          <img  class="border" src="../../Images/cardContainerFront.png" alt="Fondo Tarjeta">
          </img>
        </figure>

      </div>

    </div>

    <div class="cardContainerBack">
      <figure>
        <img class="border" src="../../Images/cardContainerback.png" alt="Reves de la carta logo silla Games Of Thrones">
      </figure>
    </div>
  
  </div>
  
</body>
</html>