@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Public+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Grenze Gotisch';
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 5rem;
  background-image: url('./images/backGroundDesktop.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
}

.logo img {
  height: 5rem;
}

.main {
  font-family: 'Public Sans';
}

.houses {
  height: calc(100vh - 15rem);
  background-image: url('./images/fondoFamilias.jpg');
}

.filter-bar {
  height: 10rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-image: url('./images/backGroundDesktop.jpg');
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  /* TODO MAKE NAV-BAR FIXED AT TOP AFTER SCROLL */
}

.nav-bar ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  justify-items: center;
  align-items: center;
  width: 100vw;
}

.nav-bar ul input {
  height: 100%;
  width: 80%;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
}

select {
  border: none;
  background-color: rgb(177, 146, 83);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  font-family: 'Grenze Gotisch';
  font-size: 1.5rem;
  border-radius: 8px;

  width: 15rem;
  height: 3rem;
  display: flex;
  align-items: center;


  /* CHANGE ARROW STYLE
  -moz-appearance:none; Firefox 
  -webkit-appearance:none;  Safari and Chrome 
  appearance:none; */
}

select:hover {
  cursor: pointer;
  background-color: rgb(198, 168, 116);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.view-all {
  border: none;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(119, 88, 55);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  font-family: 'Grenze Gotisch';
  font-size: 1.5rem;
}

.view-all:hover {
  cursor: pointer;
  background-color: rgb(198, 168, 116);
}

.view-charts {
  border: none;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(119, 88, 55);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  font-family: 'Grenze Gotisch';
  font-size: 1.5rem;
}

.view-charts:hover {
  cursor: pointer;
  background-color: rgb(198, 168, 116);
}

.sort-by {
  display: flex;
  align-items: center;
  height: 3rem;
  border: none;
  background-color: white;
  margin-left: 2rem;
  font-size: 1.5rem;
}

.sort-by img {
  height: 2.5rem;
  margin-left: 10px;
}

.sort-by:hover {
  cursor: pointer;
}

/* ESTILO CARDS HOME */

.characters {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.character-card {
  width: 20%;
}

.character-card .background {
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background img {
  border-radius: 10px;
}

.character-info {
  z-index: 1;
  position: absolute;
}

.img-container {
  width: 80%;
  height: 70%;
}

.img-container img {
  width: 265px;
  height: 264px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  object-position: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -5px;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SHOW && HIDE CHARACTER CARD WHEN SELECTING AN OPTION */
.show {
  display: block;
  visibility: visible;
}

.hide {
  display: none;
  visibility: hidden;
}

/* CHARTS */

.chart-banner {
  width: 100%;
  height: 5rem;
  background-image: url('./images/backGroundDesktop.jpg');
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.compute-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(164, 129, 69, 0.8);

}

h3 {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lastName-chart {
  width: 50vw;
  height: calc(100vh - 10rem);
}

.family-chart {
  width: 50vw;
  height: calc(100vh - 10rem);
}

/*  MEDIA QUERIES   */

@media screen and (max-width: 768px){

  header {
    width: 100vw
  }

  .houses {
    width: 100vw;
    height: 66vh;
    background-position: center;
  }


  .filter-bar {
    height: 17rem;
    display: block;
  }

  .filter-bar .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .view-all{
    margin: 1rem 0 1rem 0;
  }

  .view-charts{
    margin: 1rem 0 1rem 0;
  }

  .nav-bar {
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
  }

  .nav-bar ul {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 1rem;
  }

  .search-input {
    grid-column: span 2 ;
  }

  .characters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .character-card .background {
    height: 22rem;
  }

  .character-card .background img {
    width: 15rem;
  }

  .img-container img {
    width: 15rem;
    height: 15rem;
  }

  .name-container h3 {
    font-size: 1.5rem;
  }

  .compute-stats {
    flex-direction: column;
  }

  .lastName-chart {
    width: 100vw;
    height: calc(100vh - 10rem);
    margin-bottom: 1rem;
  }
  
  .family-chart {
    width: 100vw;
    height: calc(100vh - 10rem);
  }
}

@media screen and (max-width: 425px){
  
  .filter-bar {
    height: 15rem;
  }

  .view-all {
    font-size: 1.2rem;
  }

  .view-charts {
    font-size: 1.2rem;
  }

  .nav-bar select {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.2rem;
  }

  .search-input {
    font-size: 1.2rem;
  }

  .sort-by h2 {
    font-size: 1.5rem;
  }

  .sort-by img {
    height: 1.5rem;
  }

  .characters {
    grid-template-columns: 1fr 1fr ;
  }

  .character-card .background {
    height: 18rem;
  }

  .character-card .background img {
    width: 12rem;
  }

  .img-container img {
    width: 12rem;
    height: 12rem;
  }

  .name-container h2 {
    font-size: 1rem;
  }
  .name-container h3 {
    font-size: 1.2rem;
  }

  .chart-banner  {
    height: 3rem;
    font-size: 1.5rem;
  }

  .compute-stats h3 {
    font-size: 1.5rem;
  }
}
